/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
	
	background-color: #7373A8;
	vertical-align: baseline;
}

#page-wrapper {
	background-color: white;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#header .section {
	position: relative;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  line-height: 1.5em;
	margin: 0;
	font-size: 22px;
	line-height: 1.3em;
	position: absolute;
	left: 15px;
	top: 15px;
}
#site-name a:link,
#site-name a:visited {
  color: #FEEAD2;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  /*text-decoration: underline;*/
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main-wrapper {
	position: relative;
}
#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
	padding-bottom: 10px; /* Undo system.css */
	float: left;
}
.page-id {
	padding-bottom: 10px;
	float: right;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
	padding: 0px;
}
#block-block-3 .content {
	padding: 5px;
}
#block-block-3 .content p {
	font-size: 11px;
	margin: 0px;
}
/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Common CSS
 */

body,td,th, p {
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	line-height: 20px;
	color: #232323;
	margin: 0em 0em 0em 0em;
}
h1{
	font-size: 20px;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0.63em;
	margin-left: 0em;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 0em;
	text-align: left;
}
h2 {
		font-family: "Trebuchet MS";
		font-weight: bold;
		font-style: normal;
		font-size: 19px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		margin: 0.71em 0em 0em 0em;
}
h3,h4,h5,h6 {
		font-family: "Trebuchet MS";
}

ol {
	font-family: "Trebuchet MS";
	font-size: 13px;
}

.scrollArea {
	width: 725px;
	height: 600px;
	padding-left: 5px;
	padding-right: 5px;
	border-color: #6699CC;
	border-width: 0px;
	border-style: solid;
	float: left;
	overflow: auto;
}
.scrollArea2 {
	width: 562px;
	height: 451px;
	padding-left: 5px;
	padding-right: 5px;
	border-color: #6699CC;
	border-width: 0px;
	border-style: solid;
	float: left;
	overflow: auto;
}
.scrollArea3 {
	width: 710px;
	height: 451px;
	padding-left: 5px;
	padding-right: 5px;
	border-color: #6699CC;
	border-width: 0px;
	border-style: solid;
	float: left;
	overflow: auto;
}
div.space{
	margin: 0em 0em 1.5em 0em;
}

p.image {
	margin: 2em 0em 2em 0em;
}

p.breadcrumbs {
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 0em;
	text-align: left;
	color: #7e8083;
	margin: 0em 0em 1.0em 0em;
}
p.heading-2 {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-style: normal;
	font-size: 15px;
	text-decoration: none;
	font-variant: normal;
	text-transform: uppercase;
	text-indent: 0em;
	text-align: left;
	color: #232323;
	margin: 0.80em 0em 0em 0em;
}
p.heading-3 {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-style: normal;
	font-size: 15px;
	text-decoration: none;
	text-indent: 0em;
	text-align: left;
	color: #232323;
	margin: 0.62em 0em 0em 0em;
}
p.heading-4 {
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 1em 0em 0em 0em;
}
p.subhead-right-align {
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: right;
	color: #000000;
	margin: 0em 0em 0em 0em;
}
p.paragraph {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #232323;
	margin: 0em 0em 0.92em 0em;
}
p.indented-paragraph {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 5.54em 0.92em 5.54em;
}
p.indented-paragraph-underline {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		text-decoration: underline;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 0.92em 0em;
}
p.paragraph-no-space {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 0em 0em;
}
p.paragraph-no-space-indent {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em;
}
p.paragraph-outdent {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: -1.66em;
		text-align: left;
		color: #000000;
		margin: 0em 0em 0.77em 4.43em;
}
p.note-paragraph {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 2.77em 0.92em 2.77em;
}
p.example-heading {
		font-weight: bold;
		font-size: 14px;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0.77em 0em 0em 5.15em;
}
p.example-no-indent {
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0.77em 0em 0em 0em;
}
li.example-list-bullet {
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		margin: 0em 0em 0em 2.77em;
}
li.example-list-bullet-indent {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		margin: 0em 0em 0em 4.15em;
}
li.list-number {
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	margin: 0em 0em 0em 3.08em;
	padding-top: 0px;
}
li.list-bullet {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 0em 3.08em;
}
p.table-paragraph {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 0em 0em;
}
li.table-bullets {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 1.09em 1.09em;
}
p.table-para-right {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: right;
		color: #232323;
		margin: 0em 0em 1.09em 0em;
}
p.table-para-right-nospace {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: right;
		color: #232323;
		margin: 0em;
}
p.table-paragraph-no-space {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em;
}
p.table-featured-paragraph {
		font-family: "Trebuchet MS";
		font-weight: bold;
		font-style: normal;
		font-size: 13px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 1.09em 0em;
}
p.caption {
		font-family: "Trebuchet MS";
		font-weight: normal;
		font-style: normal;
		font-size: 11px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #232323;
		margin: 0em 0em 0.91em 0em;
}
p.handwriting {
		font-family: "GFY Brutus";
		font-weight: normal;
		font-style: normal;
		font-size: 17px;
		text-decoration: none;
		font-variant: normal;
		text-indent: 0em;
		text-align: left;
		color: #172253;
		margin: 0em;
}

.alpha-list {
	list-style-type: upper-alpha;
}

.image-buttons{
	float: right;
}

.img-btn{
	float: left;
}
.quick_guide.img-btn{
	background: url(../images/btn-icon/QuickGuide_1.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.quick_guide.img-btn:hover{
	background: url(../images/btn-icon/QuickGuide_1_ro.gif) no-repeat;
}

.organizer.img-btn{
	background: url(../images/btn-icon/Organizer.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.organizer.img-btn:hover{
	background: url(../images/btn-icon/Organizer_ro.gif) no-repeat;
}

.fundamental.img-btn{
	background: url(../images/btn-icon/Fundamental.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.fundamental.img-btn:hover{
	background: url(../images/btn-icon/Fundamental_ro.gif) no-repeat;
}

.learn_more.img-btn{
	background: url(../images/btn-icon/LearnMore_1.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.learn_more.img-btn:hover{
	background: url(../images/btn-icon/LearnMore_1_ro.gif) no-repeat;
}

.check_list.img-btn{
	background: url(../images/btn-icon/CheckList_2.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.check_list.img-btn:hover{
	background: url(../images/btn-icon/CheckList_2_ro.gif) no-repeat;
}

.example.img-btn{
	background: url(../images/btn-icon/Example_1.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.example.img-btn:hover{
	background: url(../images/btn-icon/Example_1_ro.gif) no-repeat;
}

.sample.img-btn{
	background: url(../images/btn-icon/Sample_1.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.sample.img-btn:hover{
	background: url(../images/btn-icon/Sample_1_ro.gif) no-repeat;
}

.idea.img-btn{
	background: url(../images/btn-icon/idea.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.idea.img-btn:hover{
	background: url(../images/btn-icon/idea_ro.gif) no-repeat;
}

.advice.img-btn{
	background: url(../images/btn-icon/advice.gif) no-repeat;
	width: 85px; height: 16px;
	text-indent: -9999px;
}
.advice.img-btn:hover{
	background: url(../images/btn-icon/advice_ro.gif) no-repeat;
}

ul.treeview{ 
	padding: 0px; 
}
.treeview ul{
	padding: 0px;
}

body.node-type-supplemental-page { background: none; }
.node-type-supplemental-page #page-wrapper { width: 100%; }

/** END OF Common CSS */

#block-three-rs-table-table-of-content .content { padding: 0px; }

.region-sidebar-second .block h2.title, .region-sidebar-second .block h2.block-title{
	font-size: 1em;
	font-weight: bolder;
	text-decoration: none;
	border-bottom: 2px solid #303030;
	border-right: 2px solid #303030;
	border-top: 2px solid #b0b0b0;
	border-left: 2px solid #b0b0b0;
	text-transform: uppercase;
	padding: 5px;
	display: block;
}

#block-block-3 .content {
	padding: 5px;
}
#block-block-3 .content p{
	font-size: 11px;
	margin: 0px;
}

.top-buttons { position: absolute; right: 10px; top: 0px; }
.top-buttons ul.top-button-links { list-style-type: none; margin: 0.7em 0; }
.top-buttons .top-button-links li { float: left; margin: 5px; }

/*#block-block-1 .content{
	overflow-y: scroll;
	height: 150px;
}
#block-block-2 .content {
	overflow-y: scroll;
	height: 200px;
}*/
#block-block-1 .content a, #block-block-2 .content a{
	color: #111;
	text-decoration: none;
	
}
#block-block-1 .content a:hover, #block-block-2 .content a:hover {
	color: red;
}

.viewport {
	font-family: "Trebuchet MS";
	font-size: 13px;
}

#main_scroll_pane .viewport { width: 95%; height: 650px;	}

#tabs-table-of-contents .viewport { width: 88%; height: 300px; color: white;	}
#related_topics_pane .viewport { width: 90%; height: 105px;}
#recent_viewed_topics_pane .viewport { width: 90%; height: 105px;}


.scroll-bar-pane .viewport { overflow: hidden; position: relative; }
 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px; margin: 0; }


.scroll-bar-pane .scrollbar{  position: relative; float: right; }
.scroll-bar-pane .track { position: relative; }
.scroll-bar-pane .thumb { cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.scroll-bar-pane .thumb .end { overflow: hidden; height: 5px; width: 25px; display: none;}
/*.scroll-bar-pane .disable { display: none; }*/

#main_scroll_pane .overview { padding: 30px 0px 30px 20px; }
#tab-content-320 .overview { padding: 0px;}
#block-block-1 .content, #block-block-2 .content { padding:0px; }

.region-content-top #block-three-rs-search-3rs-search{
	background: url(../images/searchbox-bk.png) no-repeat 0px 0.4em;
	width: 350px;
	margin : 30px auto;
	margin-bottom: 50px;
}

.region-content-top #block-three-rs-search-3rs-search #edit-thr-search-block-form--2 {
	width: 270px;
	background: none repeat scroll 0 0 transparent !important;
	border: 0 none;
	line-height: 14px;
}

.region-content-top #block-three-rs-search-3rs-search #thr-search-block-form .form-submit {
	background: url(../images/search-button.png) no-repeat scroll 50% 50% transparent;
	border: medium none;
	cursor: pointer;
	height: 18px;
	text-indent: -9999px;
	width: 18px;
	float: right;
	display: inline-block;
	margin-right: 0px;
}

#thr_search_block_result_wrapper {
	
}

#thr_search_block_result_wrapper h2{
	padding: 5px 10px;
	color: white;
	background-color: #b4111a;
}

#thr_search_block_result_wrapper .content {	

}
#thr_search_block_result_wrapper .three_rs_search-results .search-result .title a{
	font-size: 13px;
}

#tabs-table-of-contents .tab-links li {
	font-family: "Trebuchet MS";
	font-size: 13px;
}

#search-box {
	position: absolute;
	right: 5px;
	top: 10px;
}

#search-form #edit-basic label, #thr-search-block-form label {/* Label that says "Search this site:" */
  display: none;
}

#thr-search-block-form .form-item-thr-search-block-form {
	margin: 0px;
	display: inline-block;
}

.ui-widget-header {
	background: none;
	border: none;
}
.ui-widget-header .ui-icon {
	background: none;
}

#thr_search_block_result_pane .search-results {
	padding-left: 5px;
}

#thr_search_block_result_pane .search-results .search-result .title a {
	color: #B4111A;
}